<%- include('partials/header.ejs') %>

<main class="container">
  <div class="row g-5">
    <div class="col-md-8">
      <h3 class="pb-4 mb-4 fst-italic border-bottom">
        FAQs
      </h3>
      <ul class="list-group">
        <li class="list-group-item"><a href="/gfaqs">General FAQs</a></li>
      </ul>
    </div>

    <%- include('partials/sidebar.ejs') %>
  </div>
</main>

<%- include('partials/footer.ejs') %>