<%- include('partials/header.ejs') %>

<main class="container">
  <div class="row g-5">
    <div class="col-md-8">
      <h3 class="pb-4 mb-4 fst-italic border-bottom">
        General FAQs
      </h3>
      <p>
        <strong>Nothing Yet!</strong>
      </p>
    </div>

    <%- include('partials/sidebar.ejs') %>
  </div>
</main>

<%- include('partials/footer.ejs') %>