<footer class="footer mt-auto pb-3 pt-2 custom-footer">
  <div class="container">
    <ul class="nav justify-content-center border-bottom pb-2 mb-3">
      <li class="nav-item"><a href="/" class="nav-link px-2 text-reset fw-semibold">Home</a></li>
      <li class="nav-item"><a href="/cryptocurrencies" class="nav-link px-2 text-reset fw-semibold">Cryptocurrencies</a></li>
      <li class="nav-item"><a href="/about" class="nav-link px-2 text-reset fw-semibold">About</a></li>
      <li class="nav-item"><a href="/faqs" class="nav-link px-2 text-reset fw-semibold">FAQs</a></li>
    </ul>
    <p class="text-center fw-bold mb-0">Copyright © MH <%- new Date().getFullYear() %></p>
  </div>
</footer>
</body>

</html>