<%- include('partials/header.ejs') %>

<div class="container">
  <div class="row g-5 about-page">
      <h2 class="pb-4 mb-4 border-bottom">
        FAQs
      </h2>
      <h3 class="pb-2 mb-2 mt-3 fst-italic">
        Nothing as of now!
      </h3>
  </div>
</div>

<%- include('partials/footer.ejs') %>