<%- include('partials/header.ejs') %>

<div class="container mt-5">
  <div class="px-4 py-5 my-5 text-center">
    <!-- <img class="d-block mx-auto mb-4" src="/docs/5.3/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57"> -->
    <h1 class="display-5 fw-bold cover-text">Welcome to CryptoBoard!</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4 cover-text">Get all the details you need for your favorite cryptocurrencies!</p>
      <p class="cover-text"><em>*Data obtained from Coinpaprika</em></p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <a href="/cryptocurrencies">
          <button type="button" class="btn btn-primary custom-button-color btn-lg px-4 gap-3">Let's go!</button>
        </a>
      </div>
    </div>
  </div>
</div>

<%- include('partials/footer.ejs') %>